x-env:
  &default-env
  env_file:
    - .env

services:
  database:
    image: postgres:16
    container_name: database
    <<: *default-env
    volumes:
      - db_volume:/var/lib/postgresql/data
    restart: always
    ports:
      - "5434:5432"
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      interval: 15s
      timeout: 15s
      retries: 5
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"

  database_nx_admin:
    image: postgres:16
    container_name: database_nx_admin
    environment:
      POSTGRES_DB: movies
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1111
      POSTGRES_HOST: database_nx_admin
    ports:
      - "5433:5432"
    volumes:
      - db_nx_admin_volume:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: [ "CMD", "pg_isready", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      interval: 15s
      timeout: 15s
      retries: 5
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"

  elasticsearch:
    image: elasticsearch:8.6.2
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    volumes:
      - es_data:/usr/share/elasticsearch/data
    ports:
      - "9200:9200"
    healthcheck:
      test: [ "CMD-SHELL", "curl localhost:9200" ]
      interval: 30s
      timeout: 30s
      retries: 3
    depends_on:
      - database
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"

  redis:
    image: redis
    container_name: redis
    volumes:
      - redis_volume:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"
    expose:
      - 8000
    ports:
      - "8000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/static
    depends_on:
      - database
      - nx_admin
      - nx_auth

  nx_etl:
    build: nx_etl_pg_es/
    container_name: nx_etl
    <<: *default-env
    restart: always
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
      - OTEL_SERVICE_NAME=nx_etl_pg_es
    depends_on:
      - database_nx_admin
      - redis
      - elasticsearch
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"

  nx_backend:
    build:
      dockerfile: Dockerfile
      context: ./nx_content
    container_name: nx_backend
    <<: *default-env
    ports:
      - "8002:8000"
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
      - OTEL_SERVICE_NAME=nx_content
    command:
      [ "uvicorn", "src.main:app", "--host", "0.0.0.0", "--port", "8000" ]
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8002/api/openapi || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      - redis
      - elasticsearch
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"

  nx_auth:
    build:
      dockerfile: Dockerfile
      context: ./nx_auth
    container_name: nx_auth
    <<: *default-env
    ports:
      - "8001:8001"
    environment:
      - ENABLE_TRACER=true
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
      - OTEL_SERVICE_NAME=nx_auth
    command:
      [ "sh", "-c", "alembic upgrade head && uvicorn src.main:app --host 0.0.0.0 --port 8001" ]
    volumes:
      - ./nx_auth:/app
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8001/api/openapi || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      redis:
        condition: service_healthy
      database:
        condition: service_healthy
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"

  nx_metrics:
    build: nx_metrics/
    container_name: nx_metrics
    <<: *default-env
    ports:
      - "8900:5000"
    depends_on:
      - consumer_user
      - consumer_film
    environment:
        PYTHONUNBUFFERED: 1
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:5000/ping" ]
      interval: 30s
      timeout: 10s
      retries: 3
    restart: always
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"

  nx_admin:
    build: nx_admin/
    container_name: nx_admin
    <<: *default-env
    restart: always
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
      - OTEL_SERVICE_NAME=nx_admin
    healthcheck:
      test: [ "CMD", "curl", "--fail", "localhost:8000/admin" ]
      interval: 15s
      timeout: 15s
      retries: 5
    volumes:
      - static_volume:/opt/app/static
    depends_on:
      - database_nx_admin
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"

  consumer_film:
    build: nx_etl_kafka_ch/
    environment:
      - TOPIC=film
      - GROUP_ID=film
      - PYTHONUNBUFFERED=1
      - CLICKHOUSE_NODE_MAIN=clickhouse-node1
      - BOOTSTRAP_SERVERS=kafka-0:9092
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"

  consumer_user:
    build: nx_etl_kafka_ch/
    environment:
      - TOPIC=user
      - GROUP_ID=user
      - PYTHONUNBUFFERED=1
      - CLICKHOUSE_NODE_MAIN=clickhouse-node1
      - BOOTSTRAP_SERVERS=kafka-0:9092
    logging:
      driver: "gelf"
      options:
        gelf-address: "udp://host.docker.internal:12201"
        tag: "{{.Name}}"

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=vertamedia-clickhouse-datasource
    volumes:
      - grafana_data:/var/lib/grafana
      - ./logging/grafana-provisioning:/etc/grafana/provisioning

  jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: jaeger
    ports:
      - "16686:16686"
      - "4317:4317"

  minio:
    image: minio/minio:latest
    container_name: minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY:-minioadmin}
    command: server /data --console-address :9001
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: unless-stopped

  minio_init:
    image: minio/mc:latest
    container_name: minio_init
    depends_on:
      minio:
        condition: service_healthy
    environment:
      MINIO_BUCKET: ${MINIO_BUCKET:-media}
      MINIO_ACCESS_KEY: ${MINIO_ACCESS_KEY:-minioadmin}
      MINIO_SECRET_KEY: ${MINIO_SECRET_KEY:-minioadmin}
    volumes:
      - type: bind
        source: ./public-images-policy.json
        target: /public-images-policy.json
        read_only: true
    entrypoint: >
      /bin/sh -c "
      echo 'wait minio...' &&
      mc alias set local http://minio:9000 ${MINIO_ACCESS_KEY} ${MINIO_SECRET_KEY} &&
      mc mb -p local/${MINIO_BUCKET} || true &&
      mc ls local &&
      mc anonymous set-json /public-images-policy.json local/${MINIO_BUCKET}
      "
    restart: "no"

  logstash:
    image: docker.elastic.co/logstash/logstash:8.12.2
    container_name: logstash
    ports:
      - "12201:12201/udp"   # GELF UDP вход для docker logging driver
    environment:
      LS_JAVA_OPTS: "-Xms512m -Xmx512m"
      ELASTICSEARCH_HOSTS: "http://elasticsearch:9200"
      LOG_INDEX_PREFIX: "docker-logs"
    volumes:
      - ./logging/logstash/pipeline:/usr/share/logstash/pipeline:ro
    restart: unless-stopped

  kibana:
    image: docker.elastic.co/kibana/kibana:8.6.2
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - XPACK_SECURITY_ENABLED=false
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    restart: unless-stopped

volumes:
  redis_volume:
  es_data:
  db_volume:
  static_volume:
  db_nx_admin_volume:
  grafana_data:
  minio_data:
